[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "syntenyPlotteR"]
	path = syntenyPlotteR
	url = https://github.com/farre-lab/syntenyplotter
